{% extends 'base.html' %}

{% block title %}
{{ fruit_item.name }}
{% endblock %}

{% block content %}
     <div class="container text-center">
        <div class="row align-items-center">
            <div class="col">
            <p>Имя: {{ fruit_item.name }}</p>
            <p>Описание: {{ fruit_item.description }}</p>
            <p>Цена: {{ fruit_item.price }}</p>
            <p>Дата создания: {{ fruit_item.date_create }}</p>
            <p>Дата просрочки: {{ fruit_item.date_expired }}</p>

    <a class="btn btn-warning" href="{% url 'fruit_edit' object.pk %}">Редактировать</a>
    <a href="{% url 'list_fruit' %}" class="btn btn-info">Назад</a>
            </div>
        </div>
    </div>
{% endblock %}

